body{
    background: url('./warm.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    /* background-position: center; */
    height: 100%;
    width: 100%;
    margin: auto;    
}

#projectContainer{
    height: 90%;
    width: 90%;
    margin: auto;
    /* margin-top: 5%; */
    color: white;

}

#currentWeather{
    margin-top: 10px;
    font-size: 200%;
}

#city{
font-size: 400%;
}

#searchform{
    height: 30px;
    width: 330;
    display: flex;
    flex-direction: row;
}

#searchButton{
    /* display: inline-block; */
    height: 24px;
    width: 30px;
    background-color: rgba(80, 80, 80, 0.5);
    border-top:    1px solid rgb(0, 0, 0);
    border-right:  1px solid rgb(0, 0, 0); 
    border-bottom: 1px solid rgb(0, 0, 0);
    border-left: none;
    vertical-align: middle;
}

#searchIcon{
    margin-top: 4px; 
}

#searchBar{
    height: 22px;
    width: 300px;
    background-color: rgba(80, 80, 80, 0.5);
    color: white;
    border-top:    1px solid rgb(0, 0, 0);
    border-left:  1px solid rgb(0, 0, 0); 
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: none;
    outline: none;
    /* width: 30px; */
}

#currentTemp{
    font-size: 300%;
}

#weatherInfoContainer{
    height: fit-content;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.weatherField{
    display: flex;
    flex-direction: column;
    height: 60px;
    width: 159px;
}

.details{
    margin-left: 25%;
    font-size: 150%;
}

#humidity{

}

#chanceOfRain{

}

#winds{

}