body{
    background: url('./warm.jpg');
    background-repeat: no-repeat;
    background-size: cover; 
    /* background-position: center; */
    height: 100%;
    width: 100%;
    margin: auto;    
}

#projectContainer{
    height: 90%;
    width: 90%;
    margin: auto;
    /* margin-top: 5%; */
    color: white;

}

#currentWeather{
    height: 30px;
}

#city{
    height: 70px;
    font-size: 400%;
}

#searchButton{
 
}

#searchBar{

}

#currentTemp{
    font-size: 200%;
}

#humidity{

}

#chanceOfRain{

}

#winds{
    
}